body,html
  line-height: 1
  font-weight 200%
  font-family 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', Arial, sans-serif
  -webkit-tap-highlight-color: transparent

.clearfix
  display: inline-block
  &:after
    display: block
    content: ""
    height: 0
    line-height: 0
    clear: both
    visibility: hidden
.content
  position fixed
  top 10vh
  bottom 0
  left 0
  right 0
  overflow auto
  -webkit-overflow-scrolling: touch

::-webkit-scrollbar
  //display none
